html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container {
    width: auto;
    max-width: 800px;
}
.container .footer-inner {
    margin: 20px 0;
}

/* codemirror editor */
.CodeMirror {
    height: 450px;
    font-size: 90%;
    background-color: white;
    border: solid 1px #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* code view */
.lhs-comment {
    font-family: monospace;
}


/* Diagrams */

#sheet .thumbnail {
    /* cursor: move; */
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
}

#sheet .thumbnail.grabbing {
    cursor: move;
    /*cursor: url(https://mail.google.com/mail/images/2/closehand.cur), move;*/
}
