</div>
<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
<div class="row-fluid footer-inner muted">
    <a href="https://github.com/co-dan/interactive-diagrams/releases/tag/first-demo">More
    info</a>
    / <a href="/feed">RSS feed</a>
    / <a href="http://projects.haskell.org/diagrams/">Diagrams</a>
    / <a href="http://projects.haskell.org/diagrams/tutorial/DiagramsTutorial.html">Diagrams
    tutorial</a>
    / <a href="http://parenz.wordpress.com/tag/soc/">Blog</a>
    / Join us at #diagrams @ irc.freenode.net
</div>
  </div>
</div>
</body>
</html>

