</div>
<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
<div class="row-fluid footer-inner text-muted">
    <a  href="/about">Usage</a>
    / <a href="https://github.com/co-dan/interactive-diagrams/issues">Feedback &amp; bugreports</a>
    / <a href="/feed">RSS feed</a>
    / <a href="http://projects.haskell.org/diagrams/">Diagrams</a>
    / <a href="http://projects.haskell.org/diagrams/doc/quickstart.html">Diagrams
    tutorial</a>
    / <a href="http://parenz.wordpress.com/tag/interactive-diagrams/">Blog</a>
    / Join us at #diagrams @ irc.freenode.net
</div>
  </div>
</div>
</body>
</html>

