    <div id="form">
      <form action="/new" method="POST" class="form-horizontal">
        <div class="control-group">
          <label class="control-label"><i class="icon-user"></i>&nbsp;</label>
          <input class="input-xlarge" type="text" name="author"
          id="author" placeholder="Author"
  style="font-size:13pt;height:32px;" value="{{author}}" />
        </div>
        <div class="control-group">
          <label class="control-label"><i
  class="icon-pencil"></i>&nbsp;</label>
          <input class="input-xlarge" type="text" name="title" id="title" placeholder="Title"
  style="font-size:13pt;height:32px;" value="{{ptitle}}" />
        </div>
        <div class="control-group">
          <textarea id="codearea" rows="20" name="code" class="row-fluid">{{code}}</textarea>
          <script language="javascript">
          cm = CodeMirror.fromTextArea(document.getElementById('codearea'), {
            mode : "haskell",
            lineNumbers : true
          });
          $('.tabbable a[href="#edit"]').on("shown", function() {
            cm.refresh();
          });
          </script>
        </div>
        <div class="control-group">
          <label class="checkbox">
            <input type="checkbox" value="True"
                   name="literate"
                   id="literate"
                   {{#literate}}checked{{/literate}}> Literate Haskell
          </label>
          <div class="controls">
            <input type="submit" class="btn btn-primary" value="Paste!" />
          </div>
        </div>
      </form>
    </div>
