    <div id="form">
      <form action="/new" method="POST" class="form-horizontal"
            id="mainform" role="form">
        <div class="form-group">
          <label for="author" class="col-md-1 control-label"><span class="glyphicon glyphicon-user"></span>&nbsp;</label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="author"
                   id="author" placeholder="Author"
                   style="font-size:13pt;height:32px;" value="{{author}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-md-1 control-label"><span class="glyphicon glyphicon-pencil"></span>&nbsp;</label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="title" 
                   id="title" placeholder="Title"
                   style="font-size:13pt;height:32px;" value="{{ptitle}}" />
          </div>
        </div>
        <div class="form-group">
          <textarea id="codearea" rows="20" name="code">{{code}}</textarea>
          <script language="javascript">
          {{#literate}}var cmMode = "literatehaskell";{{/literate}}
          {{^literate}}var cmMode = "haskell";{{/literate}}
          cm = CodeMirror.fromTextArea(document.getElementById('codearea'), {
            mode : cmMode,
            lineNumbers : true
          });
          $('.tabbable a[href="#edit"]').on("shown.bs.tab", function() {
            cm.refresh();
          });
          </script>
        </div>       
        <div class="checkbox-inline">
          <label class="checkbox-inline">
            <input type="checkbox" value="True"
                   name="literate"
                   {{#literate}}checked{{/literate}}> Literate Haskell
          </label>
          <label class="checkbox-inline"
                 data-toggle="popover"
                 data-placement="right"
                 id="addImports">
            <input type="checkbox" value="True"
                   name="addImports"
                   checked> Import standard modules
          </label>
        </div>
        <div class="form-group">
          {{! Parent value (if we are annotating a paste) }}
          {{#current}}<input type="hidden" name="parent" 
              value="{{current}}" />{{/current}}
        </div>
        <input type="submit" class="btn btn-primary" value="Paste!" />

      </form>
    </div>
