<div id="source-view" class="col-md-10">
  <table class="table table-condensed table-hover">
  <tbody>
  <tr>  
   <td><span class="glyphicon glyphicon-user"></span>&nbsp;Author&nbsp;</td><td>{{author}}</td>
  </tr>
  <tr>  
   <td><span class="glyphicon glyphicon-pencil"></span>&nbsp;Title&nbsp;</td><td>{{ptitle}}</td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-calendar"></span>&nbsp;Created at&nbsp;</td><td>{{date}}</td>
  </tr>
  {{#parent}}
  <tr>
    <td><i class="icon-folder-open"></i>&nbsp;Parent paste&nbsp;</td>
    <td><a href="/get/{{parent}}">#{{parent}}</a></td>
  </tr>
  {{/parent}}
  </tbody>
  </table>
  {{#literate}}<hr />{{/literate}}
    {{codeView}}
  {{#literate}}<hr />{{/literate}}
  </pre>

</div>
