<div id="source-view" class="span12">
  <table class="table table-condensed">
  <tbody>
  <tr>  
   <td><i class="icon-user"></i>&nbsp;Author&nbsp;</td><td>{{author}}</td>
  </tr>
  <tr>  
   <td><i class="icon-pencil"></i>&nbsp;Title&nbsp;</td><td>{{ptitle}}</td>
  </tr>
  <tr>
    <td><i class="icon-calendar"></i>&nbsp;Created at&nbsp;</td><td>{{date}}</td>
  </tr>
  {{#parent}}
  <tr>
    <td><i class="icon-folder-open"></i>&nbsp;Parent paste&nbsp;</td>
    <td><a href="/get/{{parent}}">#{{parent}}</a></td>
  </tr>
  {{/parent}}
  </tbody>
  </table>
  {{#literate}}<hr />{{/literate}}
    {{codeView}}
  {{#literate}}<hr />{{/literate}}
  </pre>

</div>
