{{>header}}
  <div class="row">
    {{#result}}
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#view" data-toggle="tab">View</a></li>
        <li><a href="#edit" data-toggle="tab">Edit</a></li>
      </ul>
      <div id="push"></div>
    {{/result}}  
      <div class="tab-content">
        <div class="tab-pane {{#result}}active{{/result}}" id="view">
           {{>inputview}}
        </div>
        <div class="tab-pane {{^result}}active{{/result}}" id="edit">
           {{>inputform}}
        </div>
      </div>
    {{#result}}
    {{! Closing .tabbable}}
    </div>
    {{/result}}
  </div>
  
  {{#msg}}
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-danger">
        <div class="panel-heading">Error!</div>
        <div class="panel-body">
          <p>Compilation error: <pre>{{msg}}</pre></p>
          <p>The code contains an error, are you sure you want to
            paste it?</p>
          <button id="forcebtn" type="button" class="btn btn-danger">Yes please</button>        
        </div>
      </div>
    </div>
  </div>    
  {{/msg}}

  {{#result}}
  <div class="row">
    <div class="col-md-10">
      <div 
         class="panel panel-{{#hasError}}danger{{/hasError}}{{^hasError}}success{{/hasError}}">
        <div class="panel-heading">Result</div>
        <div class="panel-body">
          <pre>{{result}}</pre>
        </div>
      </div>
    </div>
  </div>
  {{/result}}

  {{#errors}}
  <div class="row">
    <div class="col-md-10">
        <div id="error">
          <div class="alert {{msgstyle}}">
            <button type="button" class="close"
            data-dismiss="alert">&times;</button>
            <strong>{{caption}}</strong><br/>
            {{content}}
          </div>
        </div>
    </div>
  </div>
  {{/errors}}
  
  {{^result}}
  {{>pastelisting}}
     <div id="push"></div>
  {{/result}}
{{>footer}}
