{{>header}}
  <div class="row-fluid">
   <div class="span7" style="padding-right:20px; border-right: 1px solid #ccc;">
    <div id="form">
      <form action="/new" method="POST">
        <p>Please input your code:</p>
        <textarea rows="20" name="code" class="row-fluid">{{code}}</textarea>
        <input type="submit" class="btn" value="Paste!" />
      </form>
    </div>
   </div>
   <div class="span5">
      <div id="sheet">
        {{msg}} <br /> <br />
        {{#errors}}
        <div id="error">
          <div class="alert {{severity}}">
            <button type="button" class="close"
            data-dismiss="alert">&times;</button>
            <strong>{{caption}}</strong><br/>
            {{content}}
          </div>
        </div>
        {{/errors}}
        {{#result}}
        <pre>
          {{result}}
        </pre>
        {{/result}}
        {{^result}}
         {{>pastelisting}}
        {{/result}}
      </div>
    </div>   
  </div>
{{>footer}}
