{{>header}}
  <div class="row-fluid">
    {{#result}}
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#view" data-toggle="tab">View</a></li>
        <li><a href="#edit" data-toggle="tab">Edit</a></li>
      </ul>
      <div id="push"></div>
    {{/result}}  
      <div class="tab-content">
        <div class="tab-pane {{#result}}active{{/result}}" id="view">
           {{>inputview}}
        </div>
        <div class="tab-pane {{^result}}active{{/result}}" id="edit">
           {{>inputform}}
        </div>
      </div>
    {{#result}}
    {{! Closing .tabbable}}
    </div>
    {{/result}}
  </div>
  <div class="row-fluid">
    <div class="col-md-10">
      <div id="sheet">
        {{msg}} <br /> <br />
        {{#errors}}
        <div id="error">
          <div class="alert {{msgstyle}}">
            <button type="button" class="close"
            data-dismiss="alert">&times;</button>
            <strong>{{caption}}</strong><br/>
            {{content}}
          </div>
        </div>
        {{/errors}}
        {{#result}}
          <p>Result:</p>
          <pre>{{result}}</pre>
        {{/result}}
        {{^result}}
         {{>pastelisting}}
         <div id="push"></div>
        {{/result}}
      </div>
    </div>  
  </div>
{{>footer}}
